/******************
* AchatForfait

*******************/
.color_primary {
    color: #f16e00;
}

.color-primary_orange {
    color: #ff7900;
}
.offre-items .offre-item {
    background-color: #000;
    color: #fff;
    font-family: 'helvetica_neue75_bold';
    font-size: 16px;
    min-height: 68px;
    border-radius: 4px;
    text-decoration: none;
    -webkit-transition: .15s;
  -o-transition: .15s;
  transition: .15s;
}

.offre-items .offre-item:hover {
    background-color: #f16e00;
   
}
.offre-item-container {
    padding: 5px 10px;
}

.purchase-menu-item a {
    text-decoration: none;
}


.breadcrumb-nav {
    padding-left: 0;
}
.breadcrumb-nav li {
    list-style-type: none;
}
.breadcrumb-nav li::marker {
    display: none;
}
.breadcrumb-nav li a, .breadcrumb-nav li span {
   text-decoration: none;
   font-size: 18px;
}

.offre-box .offre-link {
    text-decoration: none;
    display: block;
    margin-bottom: 25px;
}

.offre-header {
    background-color: #000;
    padding: 20px 15px;
    margin-bottom: 2px;
    
}
.offre-title {
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 8px;
}
.offre-content {
    border: 2px solid #ccc;
    transition: 0.3s all;
}

.offre-link:hover .offre-content {
    border-color: #f16e00
}

.offre-content ul li {
    width: 28px;
    height: 32px;
    overflow: hidden;
    text-align: center;
    margin: 0;
}

.offre-content ul li img {
    width: 22px;
    display: block;
}
.price-offre {
    color: #ffffff;
    line-height: 1;
    font-family: 'helvetica_neue75_bold';
}
.price-offre .main-price {
    font-size: 26px;
    font-family: 'helvetica_neue75_bold';
    padding-top: 6px;
    padding-right: 3px;
}
.price-details {
    line-height: 1;
    font-size: 12px;
}


.header-o {
  max-width: 252px;
  width: 100%;
  flex: 1 1 auto;
}
.header-o .header-content {
    background-color: #000;
    color: #fff;
    padding: 10px 20px 15px;
    width: 100%;
    height: 320px;
    border: 2px solid #707070;
}
.block-title {
    font-size: 19px;
    margin-bottom: 20px;
}

.pricing_range {
    color: #ffffff;
    font-size: 34px;
    margin-bottom: 15px;
    line-height: 1.2;
}
.description-o {
    width: 100%;
    margin-left: 5px;
}
.description-o .inner-wrap {
    border: 2px solid #B2B2B2;
     width: 100%;
} 

@media only screen and (max-width: 767px) {
   .breadcrumb-nav li a, .breadcrumb-nav li span {
  
        font-size: 15px;
    } 
    
    .offre-title {
        font-size: 15px;
    }
    
    .price-offre .main-price {
        font-size: 26px;
    }
    
    .price-details {
        font-size: 11px;
    }
}