html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html, body {
  overflow-x: hidden;
  position: relative;
  min-width: 420px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.15;
  overflow-x: hidden !important;
}

.w-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1120px;
}

.menu_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu_nav .nav-menus-wrapper {
  display: block;
  justify-content: space-between;
}

.navbar_wrap {
  display: flex;
}

.navbar_wrap ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding-left: 0;
  /*padding-right: 200px;*/
}

.navbar_wrap ul li {
  display: block;
  position: relative;
}

.navbar_wrap ul li a {
  font-size: 14px;
  font-weight: normal;
  padding: 25px 15px;
  display: block;
  line-height: 1;
  position: relative;
  z-index: 1;
  color: #F0C380;
  text-transform: uppercase;
}

.navbar_wrap ul li a:hover {
  color: #fff;
}

.navbar {
  padding: 8px 0px;
  margin-bottom: 0px;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: 14px;
  font-weight: 500;
  padding: 5px 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 40px;
}

.navbar .navbar-nav .nav-item .nav-link:hover, .navbar .navbar-nav .nav-item .nav-link.active, .navbar .navbar-nav .nav-item .nav-link:focus, .navbar .navbar-nav .nav-item .nav-link:active {
  color: #998855;
  transition: all 0.3s;
}

.header-wrap .nav-menus-wrapper {
  margin: 0 auto;
}

/*--- navbar sticky ---*/
.nav-sticky.navbar {
  margin-top: 0px;
  padding: 8px 0px;
  max-width: 1300px;
  position: fixed;
}

.nav-sticky.navbar .navbar-nav .nav-item .nav-link {
  color: rgba(153, 136, 85, 0.75);
}

.nav-sticky.navbar .navbar-nav .nav-item .nav-link:hover, .nav-sticky.navbar .navbar-nav .nav-item .nav-link:active, .nav-sticky.navbar .navbar-nav .nav-item .nav-link:focus, .nav-sticky.navbar .navbar-nav .nav-item .nav-link.active {
  color: #998855;
}

@media (max-width: 991.98px) {
  .navbar {
    width: 100%;
  }
}

.container-wrap {
  min-height: calc(100vh - 77px);
}

.section-about {
  padding-top: 60px;
  padding-bottom: 60px;
}

.r-section {
  background-color: #FFF1DC;
}

.about-wrapper {
  text-align: center;
}

.about_wrapper-img {
  display: block;
}

.title-heading {
  color: #A0765D;
  font-family: "Corinthia", cursive;
  font-weight: 400;
  font-size: 46px;
}

/*----------------------------
      Navbar & Header
-----------------------------*/
.header-fixed {
  position: sticky;
  z-index: 1101;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #A0765D;
}

.header-logo .navbar-logo {
  display: block;
  padding: 8px 0;
}

.header-logo .navbar-logo .logo-default {
  width: 134px;
}

.site-header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header topbar */
.header__topbar {
  max-height: 45px;
  background-color: #1f314f;
}

.action__btn {
  color: #fff !important;
}

.header__top-right {
  position: absolute;
  top: 30px;
  right: 15px;
  margin-bottom: 20px;
}

/* navbar-transparent */
.header-layout {
  width: 100%;
  background-color: #A0765D;
}

.menu_nav {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.menu_toggle {
  justify-content: center;
  align-items: center;
  display: none;
}

.menu_toggle .mobilemenu-toggle {
  font-size: 28px;
  padding: 0 5px;
  color: #ffffff;
}

/* Medium and large Screens */
@media (max-width: 991px) {
  .header-logo .navbar-logo {
    padding: 8px 0;
  }
  .header-logo .navbar-logo .logo-default {
    width: 98px;
  }
}

@media (max-width: 420px) {
  .header .navbar-brand img {
    max-width: 120px;
  }
  .header .action__btn-login span {
    display: none;
  }
}

/*---=======================
   03. Start Hero  css 
===========================---*/
.hero-area-v1 {
  position: relative;
  z-index: 1;
}

.hero-bg {
  background-color: #F0C380;
  height: calc(100vh - 64px);
  min-height: 500px;
}

.banner-overlay {
  position: relative;
}

.banner-shape-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 220px;
  z-index: 1;
}

.banner-shape-2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 220px;
  z-index: 1;
}

.hero-description {
  max-width: 300px;
  margin: 0 auto;
}

.banner__main__title, .hero_heading {
  font-size: 56px;
  font-family: Crimson Text;
  color: #613C26;
}

.text-headline2, .hero-description p {
  font-family: "Corinthia", cursive;
  font-weight: 400;
  font-size: 42px;
  color: #613C26;
  line-height: 1.2;
}

.banner-image-wrapper {
  display: flex;
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  border-radius: 50px;
  position: relative;
}

.banner-image-wrapper:before {
  position: absolute;
  content: '';
  height: 150%;
  width: 80%;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: inherit;
  top: -68px;
  left: 58px;
  z-index: 1;
}

.hero-gallery-items {
  width: 32.33333333%;
  margin: 0 1%;
  border: 6px solid #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
  position: relative;
  z-index: 2;
  position: relative;
}

.banner-image-wrapper .hero-gallery-items:nth-child(2) {
  transform: rotate(-18deg);
  z-index: 6;
}

.site-footer {
  padding: 30px 0;
  position: relative;
  font-size: 14px;
  color: #000000;
  background-color: #f6f6f6;
}

.bottom-footer {
  padding: 25px 0;
  font-size: 0.9rem;
}

@media (min-width: 1200px) {
  .container-100 {
    max-width: 1140px;
  }
}

@media (min-width: 992px) {
  .menu_nav .nav-menus-wrapper {
    display: flex !important;
  }
}

@media (max-width: 991px) {
  .hide-mobile {
    display: none;
  }
  .section-center {
    display: none;
  }
  .nav-holder-s {
    display: none;
  }
  .show-mobile {
    display: block;
  }
  .menu_toggle {
    display: flex;
  }
  .menu_nav {
    position: relative;
  }
  .menu_nav .nav-menus-wrapper {
    display: none;
    position: absolute;
    background-color: #A0765D;
    width: 100%;
    top: 40px;
    left: 0;
    right: 0;
  }
  .navbar_wrap ul {
    flex-direction: column;
    margin-bottom: 0;
    padding: 0;
    display: block;
    width: 100%;
    text-align: center;
  }
  .navbar_wrap ul li {
    display: block;
    position: relative;
  }
  .navbar_wrap ul li a {
    padding: 8px 15px;
    width: 100%;
  }
  .navbar_wrap ul li a:hover {
    background-color: #000;
  }
  .mgt-section .container-80 {
    width: 100%;
    max-width: 100%;
  }
  .custom-section-left,
  .custom-section-right {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media (max-width: 768px) {
  .heading-itText {
    display: inline-block;
    font-size: 40px;
  }
  .border-right-white {
    border: 0;
  }
}
