.dialog-success, .dialog-failed{
    border: .125rem solid #ababab;
    background: #f9f9f9;
}

.dialog-success .dialog-icon, .dialog-failed .dialog-icon{
    position: absolute;
    top: -20px;
    right: -5px;
    font-size: 40px;
    background: #fff;
}

.dialog-success .dialog-icon{
    color: #28a745;
}

.dialog-failed .dialog-icon{
    color: #dc3545;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited {
    background-color: #e6e6e6 !important;
}

.disabled-button{
  pointer-events: none;
}

.btn-same-size{
  height:100%;
  width:100%;
}

.center-block {
  margin: auto;
  display: block;
}

.bg-orange {
    background-color: #f16e00 !important;
}

.icon-position{
    position: absolute;
    top: -40px;
    right: -30px;
    font-size: 40px;
}

.ezarasms-dialog .icon-position{
    right: -47px;
}

.main-wrapper .custom_card {
    background: #EEEEEE;
    border: 1px solid #999999;
    padding: 15px;
}





