// Layout Style

.container-wrap {
    min-height: calc(100vh - 77px);
}

.section-about {
   
    padding-top: 60px;
    padding-bottom: 60px;
}
 
.r-section {
     background-color: #FFF1DC;
}
.about-wrapper {
    text-align: center;
}

.about_wrapper-img {
    display: block;
}

.title-heading {
    color: #A0765D;
    font-family: "Corinthia", cursive;
    font-weight: 400;
    font-size: 46px;
}