// Variables


//BODY
$color-body: #171717;
$bgcolor-body: #0f0638;

// Custom Color

$color-white: #fff;
$color-black: #000;
$body-text-color: #5E5E5E;

$color-primary: #998855;
$bg-primary: #A0765D;

// Colors ---------------
$white: #ffffff;
$theme-color: #06ae5a;

// font weight

$fw-semibold: 500;
$fw-bold: 700;

// font-family
$font-family-base: "Poppins", sans-serif;
$font-family-secondary: "Roboto", sans-serif;



// Responsive Variables qempohtml
$lp: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$xl: 'only screen and (min-width: 1200px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xm:'(max-width: 991px)';
$xs:'(max-width: 767px)';
$xss:'(max-width: 400px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
